---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="About">
  <p>hi from about</p>
</MainLayout>

<style lang="scss">
  p {
    color: red;
    &:hover {
      color: blue;
    }
  }
</style>
